.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 335px;
    z-index: 999;
    transition: all 0.5s ease;
    animation: l2r 0.2s;


    .logo-details{
        @include background("--theme-logo-area-color");
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;

        i{
            font-size: 30px;
            @include font_color("--theme-logo-color");
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
            transition: all 0.5s ease;
            
            &:hover{
                animation: rotation 2s linear infinite;
            }
        }

        .logo_name{
            font-size: 22px;
            @include font_color("--theme-logo-color");
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }


    }

    .menu{
        height: 100%;
        border-radius: 2px;
    }

    .nav-links{
        @include background("--theme-sidebar-color");
        height: 100%;
        padding-top: 24px;
        overflow: auto;

        &::-webkit-scrollbar{
            display: none;
        }

        .showMenu{
            >.icon-link{
                .arrow{
                    transform: rotate(-180deg);
                }
            }
      

        }

        li{
            line-height: 60px;
            position: relative;
            list-style: none;
            transition: all 0.4s ease;  
            
            .icon-link{

                &:hover{
                    @include background("--theme-li-hover-color");
                }
            }

            i{
                height: 50px;
                min-width: 78px;
                text-align: center;
                line-height: 50px;
                @include font_color("--theme-link-name-color");
                font-size: 18px;
                cursor: pointer;
                transition: all 0.3s ease;
                border-radius: 12px;
            }

            &:hover{
                i,.link_name{
                    transition: all 0.5s ease;
                    @include font_color("--theme-link-name-hover-color");
                }

                .sub-menu{
                    .blank{
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }


            .icon-link{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }



            a{
                width: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;

                .link_name{
                    @include font_color("--theme-link-name-color");
                    font-size: 15px;
                    font-weight: 400;
                    white-space: nowrap;
                    pointer-events: none;
                    transition: 0.4s;
                }
            }

            .sub-menu{
                padding: 0px 0px 0px 30px;
                @include background("--theme-li-hover-color");
                display: none;

                a{
                    color: #fff;
                    font-size: 15px;
                    font-weight: 400;
                    padding: 5px 0;
                    white-space: nowrap;
                    opacity: 0.6;
                    transition: all 0.3s ease;
    
                    &:hover{
                        opacity: 1;
                    }
                }   

                .blank{
                    top: 50%;
                    transform: translateY(-50%);
                }

                .tags-view-item{
                    &:hover::after{
                        top: 30px;
                     }
                }
            }
        }


        .showMenu{
            &>.sub-menu{
                display: block;
            }
        }

        .tags-view-item{
            &:hover::after{
                position: absolute;
                right: -2px;
                top: 25px;
                content: '';
                width: 0px;
                height: 0px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 8px solid #fff;
                transform: rotate(-90deg);
            }
        }   

    }


}

.close{
    width: 78px;


    .logo-details{
        .logo_name{
            transition-delay: 0s;
            opacity: 0;
            pointer-events: none;
        }
    }

    .nav-links{
        overflow: visible;

        >li{
         >.icon-link{
             .arrow{
                 display: none;
             }
         }   
        }

        li{

            .blank{
                border-radius: 6px;
                margin-left: 5px;
                top: 8px !important;
                
                

                li{
                    margin-right: 20px;
                    line-height: 20px;
                }
            }

            a{
                .link_name{
                    opacity: 0;
                    pointer-events: none;
                }

            }
            
            .sub-menu{
                position: absolute;
                left: 100%;
                top: -10px;
                padding: 10px 0px 10px 20px;
                display: none;
                pointer-events: none;
                transition: 0s;

                .sub-menu{
                    padding-left: 20px;
                }

                .link_name{
                    font-size: 15px;
                    opacity: 1;
                    display: block;               
                }

                .sub-link-name{
                    margin-left: 0px;
                }
                
                a{
                    i{
                        display: none;
                    }
                }

                .arrow{
                    transform: rotate(-90deg);
                }

                .tags-view-item{
                    margin-right: 20px;
                    min-width: 80px;
                    
                    &:hover::after{
                        right:-22px;
                    }
                }
            }

            .icon-link{

                &:hover{
                    .arrow{
                        transform: rotate(90deg);
                    }
                }
            }

            &:hover{
                >.sub-menu{
                    top: 0;
                    display: block;
                    pointer-events: auto;
                    transition: all 0.4s ease;
                }

              
    
            }
        }

        .showMenu{
            .sub-menu{
                display: none;
            }
        }

    }

    // ~.navbar, ~.tags-view-container, ~.main-container{
    //     left: 78px;
    //     width: calc(100% - 78px);
    // }
    ~.layout-body-container{
        left: 78px !important;
        width: calc(100% - 78px) !important;
    }

}

@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

