//当HTML的data-theme为dark时，样式引用dark
//data-theme为其他值时，就采用组件库的默认样式
//这里我只定义了两套主题方案，想要再多只需在`$themes`里加就行了
//注意一点是，每套配色方案里的key可以自定义但必须一致，不然就会混乱

$themes: (
    default:(
        // el样式
        --theme-el-scrollbar-thumb-bg-color: #d6d1d1,
        --theme-el-scrollbar-track-bg-color: #d8d7d7,
        --theme-el-table-header-cell-bg-color: #fafafa,
        --theme-el-table-header-cell-color: #3382f7,
        --theme-el-table-cell-color: #7c7a7a,
        --theme-el-table-cell-border-color: #EBEEF5,
        --theme-el-table-tr-bg-color: #fff,
        --theme-el-table-expand-cell-bg-color: #FFF, 
        --theme-el-table-cell-hover-bg-color: #F5F7FA,
        --theme-el-table-checkbox-bg-color: #FFF,
        --theme-el-table-checkbox-checked-bg-color: #409EFF,
        --theme-el-table-checkbox-border-color: #DCDFE6,
        --theme-el-table-checkbox-after-color: #FFF,
        --theme-el-input-color: #7c7a7a,
        --theme-el-input-bg-color: #FFF,
        --theme-el-input-border-color: #DCDFE6,
        --theme-el-select-dropdown-color:#606266,
        --theme-el-select-dropdown-selected-color:#409EFF,
        --theme-el-select-dropdown-bg-color:#FFF,
        --theme-el-select-dropdown-border-color:#E4E7ED,
        --theme-el-select-dropdown-hover-border-color:#F5F7FA,
        --theme-el-button-default-color: #606266,
        --theme-el-button-default-bg-color: #FFF,
        --theme-el-button-default-border-color: #DCDFE6,
        --theme-el-button-primary-color: #FFF,
        --theme-el-button-primary-bg-color: #409EFF,
        --theme-el-button-primary-border-color: #409EFF,
        --theme-el-button-danger-color: #F56C6C,
        --theme-el-button-danger-bg-color: #fef0f0,
        --theme-el-button-danger-border-color: #fbc4c4,
        --theme-el-radio-bg-color: #FFF, 
        --theme-el-radio-border-color: #DCDFE6, 
        --theme-el-popover-bg-color:#FFF,
        --theme-el-popover-border-color:#EBEEF5,
        --theme-el-tree-color: #7c7a7a,
        --theme-el-tree-bg-color: #FFF,
        --theme-el-tree-hover-color: #F5F7FA,
        --theme-el-pagination-button-color: #7c7a7a,
        --theme-el-pagination-button-bg-color: #FFF,
        --theme-el-pagination-button-border-color: #DCDFE6,
        --theme-el-pagination-button-active-color: #FFF,
        --theme-el-pagination-button-active-bg-color: #409eff,
        --theme-el-dialog-body-bg-color: #FFF,
        --theme-el-menu-item-hover-color: #303133,
        --theme-el-menu-item-hover-bg-color: #FFF,
        --theme-el-in-range-bg-color: #F2F6FC,
        --theme-el-tabs-bg-color: #FFF,
        --theme-el-dropdown-menu-item-hover-bg-color: #ecf5ff,
        
        --theme-sidebar-color: linear-gradient(0deg, #2574b0, #337ab2),
        --theme-logo-area-color: #eef7fb,   
        --theme-logo-color: #4a9edc,
        --theme-li-hover-color: #4798ca,
        --theme-link-name-color: #cedcfb,
        --theme-link-name-hover-color: #f1fefe,
        --theme-container-bg-color: #fff,
        --theme-header-color: #fefefe,
        --theme-header-search-color: #e8e8ea,
        --theme-header-search-bg-color:#fff,
        --theme-header-search-border-color: #e9e9e9,
        --theme-header-action-icon-color: #74777e,
        --theme-header-search-input-color: #4c4c4cc9,
        --theme-tag-circle-color: #4a9edc,
        --theme-tag-line-color: #eee,
        --theme-tag-text-color: #999999,
        --theme-tag-color: #fff,
        --theme-tab-content-bg-color: #f4f6f8,
        --theme-main-container-border: #ebebeb,
        --theme-body-container-bg-color: #fff,
        --theme-card-title-color: #000000,
        --theme-card-bg-color: #fff,
        --theme-card-bottom-color: #4664fb,
        --theme-chat-sidebar-bg-color: #fafafa,
        --theme-chat-sidebar-user-item-bg-color: #fefefe, 
        --theme-chat-sidebar-user-item-msg-color: #999,
        --theme-chat-sidebar-user-item-active-color: #606266,
        --theme-chat-sidebar-user-item-active-msg-color: #999,
        --theme-chat-sidebar-user-item-active-bg-color: #dbe5ed5c,
        --theme-chat-main-message-other-input-color: #606266,
        --theme-chat-main-message-other-input-bg-color: #f6f5f8,
        --theme-chat-main-message-me-input-color: #fbfbfb,
        --theme-chat-main-message-me-input-bg-color: #3598ff,
        --theme-chat-main-footer-bg-color: #fafafa,
        --theme-chat-main-footer-input-color: #606266,
        --theme-chat-main-footer-input-bg-color: #FFF,
        --theme-chat-main-footer-input-border-color: #fafafa,
        --theme-tree-item-hover-bg-color: #F5F7FA ,
        --theme-dashboard-card-color: #100606b5,
        --theme-dashboard-card-title-color: #76766cbf,
        --theme-other-btn-color: #606266 ,
        --theme-other-btn-bg-color: #FFF,
        --theme-other-btn-border-color: #c0c4cc,
        --theme-user-avatar-container: linear-gradient(0deg, #e5f3fe, #2788d4),
        --theme-user-info-border-color: #adadad,
    ),

dark: (
    //el样式
    --theme-el-scrollbar-thumb-bg-color: #8f8f8f94,
    --theme-el-scrollbar-track-bg-color: #1a191e,
    --theme-el-table-header-cell-bg-color: #1f1e23,
    --theme-el-table-header-cell-color: #ffffff9e,
    --theme-el-table-cell-color: #7c7a7a,
    --theme-el-table-cell-border-color: #1a191e,
    --theme-el-table-tr-bg-color: #1a191e,
    --theme-el-table-cell-hover-bg-color: #222128,
    --theme-el-table-expand-cell-bg-color: #222128, 
    --theme-el-table-checkbox-bg-color: #1a191e,
    --theme-el-table-checkbox-border-color: #5c5c5c8a,
    --theme-el-table-checkbox-after-color: #8d8d8dc9,
    --theme-el-input-color: #ffffff9e,
    --theme-el-input-bg-color: #1a191e,
    --theme-el-input-border-color: #4c4c4c,
    --theme-el-select-dropdown-color:#ffffff9e,
    --theme-el-select-dropdown-selected-color:#409EFF,
    --theme-el-select-dropdown-bg-color:#1a191e,
    --theme-el-select-dropdown-border-color:#4c4c4c,
    --theme-el-select-dropdown-hover-border-color:#222128,
    --theme-el-button-default-color: #ffffff9e,
    --theme-el-button-default-bg-color: #1a191e,
    --theme-el-button-default-border-color: #4c4c4c,
    --theme-el-button-primary-color: #f5f5f5eb ,
    --theme-el-button-primary-bg-color: #0063da,
    --theme-el-button-primary-border-color: #0063da,
    --theme-el-button-danger-color: #f5f5f5eb ,
    --theme-el-button-danger-bg-color: #F56C6C,
    --theme-el-button-danger-border-color: #F56C6C,
    --theme-el-radio-bg-color: #565656, 
    --theme-el-radio-border-color: #565656, 
    --theme-el-tag-light-color: #ffffff9e,
    --theme-el-tag-light-bg-color: #1a191e,
    --theme-el-tag-light-border-color: #4c4c4c,
    --theme-el-popover-bg-color:#1a191e,
    --theme-el-popover-border-color:#4c4c4c,
    --theme-el-tree-color: #ffffff9e,
    --theme-el-tree-bg-color: #1a191e,
    --theme-el-tree-hover-color: #222128,
    --theme-el-pagination-button-color: #ffffff9e,
    --theme-el-pagination-button-bg-color: #1a191e,
    --theme-el-pagination-button-border-color: #4c4c4c,
    --theme-el-pagination-button-active-color: #f5f5f5eb,
    --theme-el-pagination-button-active-bg-color: #0063da,
    --theme-el-dialog-body-bg-color: #1a191e,
    --theme-el-menu-item-hover-color: #fff,
    --theme-el-menu-item-hover-bg-color: #222128,
    --theme-el-in-range-bg-color: #222128,
    --theme-el-tabs-bg-color: #1a191e,
    --theme-el-dropdown-menu-item-hover-bg-color: #222128,

    --theme-sidebar-color: #1D1C21,
    --theme-logo-area-color: #1D1C21,
    --theme-logo-color: #f1fefe,
    --theme-li-hover-color: #222128,
    --theme-link-name-color: #b4b4b9,
    --theme-link-name-hover-color: #f1fefe,
    --theme-container-bg-color: #1a191e,
    --theme-header-color: #1a191e,
    --theme-header-search-color: #ffffff9e,
    --theme-header-search-bg-color:#1a191e,
    --theme-header-search-border-color: #4c4c4c,
    --theme-header-search-input-color: #ffffff9e,
    --theme-header-action-icon-color: #a19c9c,
    --theme-tag-circle-color: #f3f3f3cc,
    --theme-tag-line-color: #8f8f8f94,
    --theme-tag-text-color: #ffffff9e,
    --theme-tag-color: #1a191e,
    --theme-tab-content-bg-color: #f4f6f8,
    --theme-main-container-border: #1a191e,
    --theme-body-container-bg-color: #1a191e,
    --theme-card-title-color: #ffffff9e,
    --theme-card-bg-color: #222128,
    --theme-card-bottom-color: #ffffff9e,
    --theme-chat-sidebar-bg-color: #1a191e,
    --theme-chat-sidebar-user-item-bg-color: #2c2b2e,
    --theme-chat-sidebar-user-item-msg-color: #606266,
    --theme-chat-sidebar-user-item-active-color: #ffffff9e,
    --theme-chat-sidebar-user-item-active-msg-color: #ffffff9e,
    --theme-chat-sidebar-user-item-active-bg-color: #e9ecef38,
    --theme-chat-main-message-other-input-color: #ffffff9e,
    --theme-chat-main-message-other-input-bg-color: #2c2b2e,
    --theme-chat-main-message-me-input-color: #ffffffd1,
    --theme-chat-main-message-me-input-bg-color: #0980d5f2,
    --theme-chat-main-footer-bg-color: #1a191e,
    --theme-chat-main-footer-input-color: #ffffff9e,
    --theme-chat-main-footer-input-bg-color: #6b697085 ,
    --theme-chat-main-footer-input-border-color: #2c2b2e,
    --theme-tree-item-hover-bg-color: #222128,
    --theme-dashboard-card-color: #ffffffb0, 
    --theme-dashboard-card-title-color: #d5d5d5bf,
    --theme-other-btn-color: #ffffff9e,
    --theme-other-btn-bg-color: #1a191e,
    --theme-other-btn-border-color: #4c4c4c,
    --theme-user-avatar-container: linear-gradient(0deg, #575858, #1f2224) ,
    --theme-user-info-border-color: #5c5c54,

//字体
font_color1: #414141,
font_color2: white,

//背景
background_color1: #fdf23f,
background_color2: #f0f2f5,
background_color3: red,
background_color4: #2674e7,

//边框
border_color1: #3d414a,

),

light: (
//字体
font_color1: #a7a7a7,
font_color2: white,

//背景
background_color1: #1b2531,
background_color2: #283142,
background_color3: #1e6ceb,
background_color4: #323e4e,

//边框
border_color1: #3d414a,

)
);