.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  @include background("--theme-header-color");
  height: 60px;
  // left: 335px;
  // width: calc(100% - 335px);
  transition: all 0.5s ease;

  .home-content {
    height: 60px;
    display: flex;
    align-items: center;

    .bx-menu,
    .text {
      @include font-color("--theme-logo-color");
      font-size: 35px;
    }
    .bx-menu {
      margin: 0 15px;
      cursor: pointer;
    }
    .text {
      font-size: 26px;
      font-weight: 600;
    }
  }

  .navbar-actions-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    // width: 1160px;

    .navbar-search {
      display: block;
      position: relative;
      width: 50%;

      input {
        outline: none;
        padding-left: 45px;
        width: 100%;
        height: 35px;
        line-height: 35px;
        border-radius: 14px;
        border: 1px solid;
        @include border_color("--theme-header-search-color");
        @include background("--theme-header-search-bg-color");
        @include border_color("--theme-header-search-border-color");
        @include font_color("--theme-header-search-input-color");
      }

      i {
        height: 35px;
        font-size: 20px;
        line-height: 35px;
        position: absolute;
        left: 15px;
        @include font_color("--theme-header-search-color");
      }
    }

    .navbar-detail-actions {
      display: flex;
      justify-content: center;
      align-items: center;

      .action-icon {
        float: left;
        position: relative;
        width: 24px;
        font-size: 24px;
        margin: 4px 15px;
        @include font_color("--theme-header-action-icon-color");

        .msg-num {
          position: absolute;
          width: 18px;
          height: 18px;
          left: 28px;
          font-size: 10px;
          border-radius: 50%;
          background: #f73f07;
          text-align: centr;
          color: #ffffff;
          text-align: center;
          transform-origin: 50%;
          transform: scale(0.8) translateX(-110%);
        }
      }
    }
    .user-dropdown {
        margin-left: 10px;
      .user-info {
        margin-right: 30px;
        display: flex;
        justify-items: center;
        align-items: center;
        cursor: pointer;

        i {
          margin-right: 10px !important;
        }

        img {
          width: 38px;
          height: 38px;
          border-radius: 50%;
        }

        .user-info-name {
          padding-left: 10px;
        }
      }
    }
  }
}

::-webkit-input-placeholder {
  @include font_color("--theme-header-search-color");
}
