<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        <configuration>
<!--             mybatis加载LOG4J日志 -->
                 <settings>
            <setting name="logImpl" value="LOG4J"></setting>
        </settings>
<!--         mybatis别名设置 -->
            <typeAliases>
                <package name="com.liu.entity"/>
            </typeAliases>
		
        </configuration>