<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.dao.ArticleDao">
    <resultMap id="SimpleArticleResultMap" type="Article">
        <id column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="article_title" property="articleTitle" jdbcType="VARCHAR"/>
        <result column="article_view_count" property="articleViewCount" jdbcType="INTEGER"/>
        <result column="article_comment_count" property="articleCommentCount" jdbcType="INTEGER"/>
        <result column="issue_type" property="issueType" jdbcType="INTEGER"/>
        <result column="article_create_time" property="articleCreateTime" jdbcType="TIMESTAMP"/>
        <association property="categoryList" column="article_id" select="com.liu.dao.CategoryDao.getCategoryByAid"></association>
        <association property="tagList" column="article_id" select="com.liu.dao.TagDao.getTagByAid"></association>
    </resultMap>
    
        <resultMap id="DetailArticleResultMap" type="Article">
        <id column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="article_title" property="articleTitle" jdbcType="VARCHAR"/>
        <result column="markdown_content" property="markdownContent" jdbcType="LONGVARCHAR"/>
        <result column="html_content" property="htmlContent" jdbcType="LONGVARCHAR"/>
        <result column="article_view_count" property="articleViewCount" jdbcType="INTEGER"/>
        <result column="article_comment_count" property="articleCommentCount" jdbcType="INTEGER"/>
        <result column="article_type" property="articleType" jdbcType="INTEGER"/>
        <result column="issue_type" property="issueType" jdbcType="INTEGER"/>
        <result column="article_create_time" property="articleCreateTime" jdbcType="TIMESTAMP"/>
         <result column="create_year" property="createYear" jdbcType="VARCHAR"/>
        <result column="article_image" property="articleImagePath" jdbcType="VARCHAR"/>
        
        <association property="categoryList" column="article_id" select="com.liu.dao.CategoryDao.getCategoryByAid"></association>
        <association property="tagList" column="article_id" select="com.liu.dao.TagDao.getTagByAid"></association>
    </resultMap>
    
    <sql id="tb">article</sql>
    <sql id="Simple_Column_List">
    article_id, article_title,article_view_count,article_comment_count,issue_type, article_create_time
    </sql>
    
       <sql id="Detail_Column_List">
    article_id, article_title,markdown_content,html_content,article_view_count,article_comment_count,article_type,issue_type, article_create_time,year(article_create_time) as create_year,article_image
    </sql>
<!--     显示前台展示的博客列表 -->
      <select id="listArticle"  parameterType="Map" resultMap="DetailArticleResultMap">
        SELECT
        <include refid="Detail_Column_List"/>
        FROM
        <include refid="tb"/>
        where issue_type=1
        ORDER BY article_id DESC
        <if test="start!=null and pageSize!=null">
		 	limit #{start},#{pageSize}
		 </if>
    </select>

<!--    获取最新的几篇文章 -->
      <select id="lisRecenttArticle"  parameterType="Integer" resultMap="DetailArticleResultMap">
        SELECT
        <include refid="Detail_Column_List"/>
        FROM
        <include refid="tb"/>
        where issue_type=1
        ORDER BY article_id DESC
		 	limit 0,#{pageSize}
    </select>
<!--    统计所有正文数 -->
       <select id="countArticle"  resultType="java.lang.Integer">
        SELECT	COUNT(*)
        FROM
        <include refid="tb"/>
        where issue_type=1
    </select>
          
<!--           显示缩略文章 -->
    <select id="listAdminArticle" resultMap="SimpleArticleResultMap">
        SELECT
        <include refid="Simple_Column_List"/>
        FROM
        <include refid="tb"/>
        ORDER BY article_id DESC
                <if test="start!=null and pageSize!=null">
		 	limit #{start},#{pageSize}
		 </if>
    </select>
    
<!--     根绝Id获取文章 -->
        <select id="getArticleByAid" resultMap="DetailArticleResultMap">
        SELECT
        <include refid="Detail_Column_List"/>
        FROM
        <include refid="tb"/>
        WHERE article_id=#{articleId}
    </select>
    
<!--     根据标题获取文章Id -->
    <select id="getAidByTitle"  parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT article_id
                FROM
        <include refid="tb"/>
        WHERE article_title=#{articleTitle}
    </select>
    
<!--     获取前一个文章 -->
        <select id="getPreArticle" parameterType="Integer" resultMap="SimpleArticleResultMap">
        SELECT         <include refid="Simple_Column_List"/> 
         FROM    <include refid="tb"/>
          WHERE article_id &gt; #{articleId}  
          ORDER BY article_id ASC  LIMIT 1
    </select>
    
<!--     获取下一个文章 -->
      <select id="getNextArticle" parameterType="Integer" resultMap="SimpleArticleResultMap">
        SELECT *
        FROM    article
        WHERE article_id &lt; #{articleId}  
        ORDER BY article_id DESC LIMIT 1
    </select>
    
<!--     插入文章 -->
        <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true"
            keyProperty="articleId">
        insert into
        <include refid="tb"/>
        ( article_title,markdown_content,html_content,article_view_count,article_comment_count,
		article_type, 
		issue_type, 
        article_create_time,article_image)
       values ( #{articleTitle,jdbcType=VARCHAR},
       #{markdownContent},#{htmlContent},#{articleViewCount},#{articleCommentCount},
       #{articleType,jdbcType=INTEGER},#{issueType,jdbcType=INTEGER},
       #{articleCreateTime,jdbcType=TIMESTAMP},#{articleImagePath,jdbcType=VARCHAR})
    </insert>
    
<!--     修改文章 -->
    <update id="updateArticle" parameterType="Article">
                update
        <include refid="tb"/>
        <set>
            <if test="articleTitle != null">article_title = #{articleTitle,jdbcType=VARCHAR},</if>
            <if test="markdownContent != null">markdown_content = #{markdownContent},</if>
             <if test="htmlContent != null">html_content = #{htmlContent},</if>
             <if test="articleViewCount != null">article_view_count = #{articleViewCount},</if>
             <if test="articleCommentCount != null">article_comment_count = #{articleCommentCount},</if>
            <if test="articleType != null">article_type = #{articleType,jdbcType=INTEGER},</if>
            <if test="issueType != null">issue_type = #{issueType,jdbcType=INTEGER},</if>
            <if test="articleUpdateTime != null">article_update_time = #{articleUpdateTime,jdbcType=TIMESTAMP},</if>
             <if test="articleImagePath != null">article_image = #{articleImagePath,jdbcType=VARCHAR},</if>
        </set>
        WHERE article_id=#{articleId}
    </update>
    
       
<!--    	评论数减1 -->
		    <update id="commentReduce" parameterType="Integer">
		    update 
        <include refid="tb"/>
        <set>
        article_comment_count=    article_comment_count-1
        </set>
          WHERE article_id=#{articleId}
       </update>
<!--     添加文章数 -->
        <update id="addCommentCount" parameterType="java.lang.Integer">
                update
        <include refid="tb"/>
          set    article_comment_count=article_comment_count+1
        WHERE article_id=#{articleId}
    </update>
    
<!--     删除文章 -->
    <delete id="deleteArticle" parameterType="java.lang.Integer">
        DELETE
        FROM   <include refid="tb"/>
        WHERE article_id=#{articleId}
    </delete>
</mapper>